In [1]:
!pip install yfinance pandas

Requirement already satisfied: yfinance in /opt/anaconda3/lib/python3.12/site-packages (0.2.65)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (3.18.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: curl_cffi>=0.7 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (0.12.0)
Requirement already satisfied: protobuf>=3.19.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (4.25.3)
Requirement already satisfied: websockets>=13.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (15.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: cffi>=1.12.0 in /opt/anaconda3/lib/python3.12/site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in /opt/anaconda3/lib/python3.12/site-packages (from curl_cffi>=0.7->yfinance) (2024.8.30)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.12/site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.21)

In [19]:
!pip install yfinance

Requirement already satisfied: yfinance in /opt/anaconda3/lib/python3.12/site-packages (0.2.65)
Requirement already satisfied: pandas>=1.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (3.18.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: curl_cffi>=0.7 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (0.12.0)
Requirement already satisfied: protobuf>=3.19.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (4.25.3)
Requirement already satisfied: websockets>=13.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: cffi>=1.12.0 in /opt/anaconda3/lib/python3.12/site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in /opt/anaconda3/lib/python3.12/site-packages (from curl_cffi>=0.7->yfinance) (2024.8.30)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.12/site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.21)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)

In [20]:
import yfinance as yf
import pandas as pd
import os

In [21]:
TICKERS = [
    'MDB', 'DDOG', 'SNOW', 'PLTR', 'CRM', 'DOCN',     # Cloud/SaaS
    'ZS', 'PANW', 'OKTA', 'CRWD', 'S',                # Cybersecurity
    'LSCC', 'ON', 'MPWR', 'RMBS',                     # Semiconductors
    'NET', 'FSLY', 'ESTC', 'TWLO',                    # Infra/DevOps
    'AI'                                              # AI – C3.ai
]

RAW_DIR = "../data/raw"
PROCESSED_DIR = "../data/processed"
os.makedirs(RAW_DIR, exist_ok=True)
os.makedirs(PROCESSED_DIR, exist_ok=True)

In [4]:
def fetch_stock_data(ticker):
    stock = yf.Ticker(ticker)
    print(f"Pulling data for {ticker}...")

    # Historical stock prices (3 years)
    price_df = stock.history(period='3y')
    price_df.to_csv(os.path.join(RAW_DIR, f"{ticker}_price.csv"))

    # Income statement
    try:
        income = stock.quarterly_financials.T
        income.to_csv(os.path.join(RAW_DIR, f"{ticker}_income.csv"))
    except Exception as e:
        print(f"Error: Could not fetch income data for {ticker}: {e}")

    # Company metadata
    try:
        info = pd.DataFrame([stock.info])
        info.to_csv(os.path.join(RAW_DIR, f"{ticker}_meta.csv"), index=False)
    except Exception as e:
        print(f"Error: Could not fetch metadata for {ticker}: {e}")

In [24]:
all_data = []

for ticker in TICKERS:
    print(f"Processing {ticker}...")

    try:
        stock = yf.Ticker(ticker)
        income = stock.quarterly_financials.T
        income['Quarter'] = income.index
        income['Quarter'] = pd.to_datetime(income['Quarter'], errors='coerce')

        income['Ticker'] = ticker
        df = income[['Quarter', 'Ticker',
                     'Total Revenue', 'Net Income',
                     'Research And Development']].copy()

        df.columns = ['Quarter', 'Ticker', 'Total Revenue', 'Net Income', 'Research And Development']
        df = df.sort_values(['Ticker', 'Quarter']).dropna()

        # KPIs
        df['Revenue Growth YoY'] = df.groupby('Ticker')['Total Revenue'].pct_change(periods=4) * 100
        df['Net Margin'] = (df['Net Income'] / df['Total Revenue']) * 100
        df['R&D Intensity'] = (df['Research And Development'] / df['Total Revenue']) * 100
        df['Slope'] = df.groupby('Ticker')['Total Revenue'].diff()
        df['Revenue Rank'] = df.groupby('Quarter')['Total Revenue'].rank(ascending=False)
        df['Revenue Negative'] = df['Revenue Growth YoY'] < 0
        df['YearQ'] = df['Quarter'].dt.to_period('Q').astype(str)

        all_data.append(df)

    except Exception as e:
        print(f"{ticker} failed: {e}")

Processing MDB...
Processing DDOG...
Processing SNOW...
Processing PLTR...
Processing CRM...
Processing DOCN...
Processing ZS...
Processing PANW...
Processing OKTA...
Processing CRWD...
Processing S...
Processing LSCC...
Processing ON...
Processing MPWR...
Processing RMBS...
Processing NET...
Processing FSLY...
Processing ESTC...
Processing TWLO...
Processing AI...

In [25]:
combined_df = pd.concat(all_data, ignore_index=True)
combined_df = combined_df.round(2)
combined_df.to_csv(os.path.join(PROCESSED_DIR, "tech_kpis_tableau_ready.csv"), index=False)
print("Clean file ready for Tableau.")

Clean file ready for Tableau.

In [9]:
ticker = 'MDB'
df = pd.read_csv(os.path.join(RAW_DIR, f"{ticker}_income.csv"))
df.head()

,Unnamed: 0,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBITDA,EBIT,Net Interest Income,...,Operating Expense,Research And Development,Selling General And Administration,Selling And Marketing Expense,General And Administrative Expense,Other Gand A,Gross Profit,Cost Of Revenue,Total Revenue,Operating Revenue
0,2025-04-30,0.0,0.21,-23198000.0,-37626000.0,9060000.0,158041000.0,-23198000.0,-32258000.0,22392000.0,...,444527000.0,168829000.0,275698000.0,220923000.0,54775000.0,54775000.0,390973000.0,158041000.0,549014000.0,549014000.0
1,2025-01-31,0.0,0.21,11901000.0,15826000.0,6112000.0,149015000.0,11901000.0,5789000.0,22812000.0,...,417945000.0,150400000.0,267545000.0,212211000.0,55334000.0,55334000.0,399383000.0,149015000.0,548398000.0,548398000.0
2,2024-10-31,0.0,0.21,1797000.0,-9776000.0,6628000.0,135331000.0,1797000.0,-4831000.0,21591000.0,...,421920000.0,151410000.0,270510000.0,217954000.0,52556000.0,52556000.0,394044000.0,135331000.0,529375000.0,529375000.0
3,2024-07-31,0.0,0.21,-42415000.0,-54529000.0,5935000.0,128253000.0,-42415000.0,-48350000.0,21978000.0,...,421296000.0,148967000.0,272329000.0,221539000.0,50790000.0,50790000.0,349856000.0,128253000.0,478109000.0,478109000.0
4,2024-04-30,0.0,0.21,-67817000.0,-80593000.0,8298000.0,122697000.0,-67817000.0,-76115000.0,21214000.0,...,426050000.0,146060000.0,279990000.0,219444000.0,60546000.0,60546000.0,327864000.0,122697000.0,450561000.0,450561000.0

In [11]:
# Convert index to datetime
df['Quarter'] = pd.to_datetime(df.index)

# Add ticker
df['Ticker'] = ticker

# Keep only relevant metrics
columns_to_keep = [
    'Quarter', 'Ticker', 'Total Revenue', 'Gross Profit',
    'Operating Income', 'Net Income', 'Research And Development'
]
df = df[columns_to_keep]
df = df.dropna()  # Optional: remove rows with missing values

df.head()

,Quarter,Ticker,Total Revenue,Gross Profit,Operating Income,Net Income,Research And Development
0,1970-01-01 00:00:00.000000000,MDB,549014000.0,390973000.0,-53554000.0,-37626000.0,168829000.0
1,1970-01-01 00:00:00.000000001,MDB,548398000.0,399383000.0,-18562000.0,15826000.0,150400000.0
2,1970-01-01 00:00:00.000000002,MDB,529375000.0,394044000.0,-27876000.0,-9776000.0,151410000.0
3,1970-01-01 00:00:00.000000003,MDB,478109000.0,349856000.0,-71440000.0,-54529000.0,148967000.0
4,1970-01-01 00:00:00.000000004,MDB,450561000.0,327864000.0,-98186000.0,-80593000.0,146060000.0

In [13]:
# Sort by time for diff() to work
df = df.sort_values('Quarter')

# Revenue Growth (%)
df['Revenue Growth YoY'] = df['Total Revenue'].pct_change(periods=4) * 100

# Net Margin %
df['Net Margin'] = (df['Net Income'] / df['Total Revenue']) * 100

# R&D Spend as % of Revenue
df['R&D Intensity'] = (df['Research And Development'] / df['Total Revenue']) * 100

# Clean display
df[['Quarter', 'Ticker', 'Total Revenue', 'Revenue Growth YoY', 'Net Margin', 'R&D Intensity']].round(2).tail()

,Quarter,Ticker,Total Revenue,Revenue Growth YoY,Net Margin,R&D Intensity
0,1970-01-01 00:00:00.000000000,MDB,549014000.0,NaN,-6.85,30.75
1,1970-01-01 00:00:00.000000001,MDB,548398000.0,NaN,2.89,27.43
2,1970-01-01 00:00:00.000000002,MDB,529375000.0,NaN,-1.85,28.60
3,1970-01-01 00:00:00.000000003,MDB,478109000.0,NaN,-11.41,31.16
4,1970-01-01 00:00:00.000000004,MDB,450561000.0,-17.93,-17.89,32.42

In [17]:
tickers = ['MDB', 'ZS', 'SNOW']
all_kpis = []

for ticker in tickers:
    path = os.path.join(RAW_DIR, f"{ticker}_income.csv")
    df = pd.read_csv(path)
    df['Quarter'] = pd.to_datetime(df.index)
    df['Ticker'] = ticker

    # Clean
    df = df[['Quarter', 'Ticker', 'Total Revenue', 'Net Income', 'Research And Development']]
    df = df.sort_values('Quarter').dropna()

    # KPIs
    df['Revenue Growth YoY'] = df['Total Revenue'].pct_change(periods=4) * 100
    df['Net Margin'] = (df['Net Income'] / df['Total Revenue']) * 100
    df['R&D Intensity'] = (df['Research And Development'] / df['Total Revenue']) * 100
    df['Revenue Rank'] = df.groupby('Quarter')['Total Revenue'].rank(ascending=False)
    df['Slope'] = df[['Total Revenue']].diff().rolling(2).mean()
    df['Revenue Negative'] = df['Revenue Growth YoY'] < 0

    all_kpis.append(df)

final_df = pd.concat(all_kpis)
final_df = final_df.round(2)

In [18]:
PROCESSED_DIR = os.path.join("..", "data", "processed")
os.makedirs(PROCESSED_DIR, exist_ok=True)

final_df.to_csv(os.path.join(PROCESSED_DIR, "tech_kpis_tableau_ready.csv"), index=False)